COMPOSE_PROJECT_NAME=my-finance-api

API_FIXED_TOKEN=

POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_POOL=5
POSTGRES_PORT=5432
# Mesmo banco para dev/prod, isolados por schema (ex: dev, prod)
POSTGRES_DB=my_finance_api
POSTGRES_SCHEMA=dev

RAILS_ENV=development

# VIRTUAL_HOST=
VIRTUAL_PORT=3000
# LETSENCRYPT_HOST=
# LETSENCRYPT_EMAIL=